<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div class="navbar-header">
    <a class="navbar-brand" href="/planets">Planets</a>
    <a class="navbar-brand" href="/routes">Routes</a>
    <a class="navbar-brand" href="/routefinder">route finder</a>
    </div>
	<h1>Result</h1>

<!--    <tr th:each="route: ${theroute}">
      &#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;  <td th:text="${route}" />
    </tr>-->

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th> your route....</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="route : ${theroute}">
            <td th:text="${route}"  />
        </tr>
        </tbody>
    </table>
    <a href="/routefinder">Search again</a>

</body>
</html>
