<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/planets">Planets</a>
    <a class="navbar-brand" href="/routes">Routes</a>
</div>
	<h1>Form</h1>


    <form action="#" th:action="@{/routefinder}" th:object="${routefinder}" method="post">

    	<p>Source: <select th:field="*{source}">
            <option th:each="planet : ${planetList}" th:value="${planet.nodeName}" th:text="${planet.name}">
            </option>
        </select></p>

        <p>Destination: <select th:field="*{destination}">
            <option th:each="planet : ${planetList}" th:value="${planet.nodeName}" th:text="${planet.name}">
            </option>
        </select></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
